.title {
  font-family: monospace;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
}

.Linux-testers {
   margin-left: 100px;
   margin-bottom: 50px;
}

.question {
   font-family: monospace;
   font-size: 20px;
   font-weight: 500;
}

.test {
   margin-left: -30px;
   
}

.input {
   margin-right: 10px;
   margin-left: 30px;
}

.label {
   font-family: monospace;
   font-size: 15px;
   font-weight: 400;
}

.total-points {
   width: 500px;
   height: 200px;
   border-radius: 40px;
   background-color: greenyellow;
   margin-top: 40px;
   margin-bottom: 40px;
}

.total-points-text {
   font-family: monospace;
   font-size: 30px;
   font-weight: 400;
   padding: 100px;
}