<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <div class="conteiner">
  <h1 class="title">Тести для перевірки на знання операційної системи "Linux"</h1>
  <div class="Linux-testers">

  <div class="total-points"><p class="total-points-text"></p></div>

  <button class="button" tayp="button">Отримати результат тесту</button>
</div>
</body>
</html>